*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Century Gothic",sans-serif;


}
.menue ul {
  display:l;
  list-style-type: none;
  margin: 0 ;
  padding: 0;
  overflow: hidden;
  background-color: hsl(0, 40%, 50%);
  
}

.menue li {
  float:right;
}

.menue li a {
  display:flex;
  color: #FAEBD7 ;
  text-align: center;
  padding: 30px;
  text-decoration: none;
}

.menue li a:hover {
  background-color: #B22222 ;
}

/*------------------------------ box------------------------- */
.box{
 width: 10;
 margin: auto;
 border-style: outset;
 border-color: brown;
 border-radius: 2px;
 
}
.box .row{
  display: flex;
  justify-content: space-between;
}
.box .colum{
  width: 40%;
  height: auto;
  position: relative;

}
.box img{
 width: 50%;
 height: auto;
 border-radius: 4px 0px;

}
.box .colum a:last-child{
  position: absolute;
  width: 100%;
 height:0;
  top: 100;
  left: 0;
  bottom: 0;
  background: rgba(156, 23, 0, 0.5);
  text-align: center;
  color: #FAEBD7 ;
  line-height: 35vw;
  font-size: 3vw;
  text-decoration: none
}
.box .colum:hover a:last-child{
  height: 110%;
  top: 0;
} 

/*---------------------drop-down list--------------------------- */
.drop-down{
  display: none;
}
.menue ul  li:hover .drop-down{
  display: block;
  position:absolute;
  background: #B22222; 
}
.menue ul  li:hover .drop-down ul{
  display: block;
}
/* ------------------------table---------------*/
/*table {
  font-family: arial, sans-serif,bold;
  border-collapse: collapse;
  width: 50%;
  display: ;
}

td, th {
  border: 5px solid #FAEBD7;
 font-size: 150%;
  padding: 20px;
  text-align: right;
  color:  #B22222fd;
}
td{
  color:rgb(14, 14, 209);
}
tr:nth-child(even) {
  background-color:  rgb(255, 244, 230);
}*/
/*------------------------buttons--------------------------*/
.button{
  margin-top: 0;
  display: flex;
  justify-content:space-between;
}
.pargraph{
  flex-basis: 31%;
  background:#FAEBD7 ;
 /* border-radius: px;*/
  margin-bottom: 5%;
  padding: 20px 12px;
  /*box-sizing: border-box;*/
  color: rgb(14, 14, 209);

}
.pargraph pre{
  font-size: 20px;
}
h3{
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
  color: #B22222;
}
/*  ------------------tables------------------ */
/*.b{
  margin-top: 0;
  display: flex;
  justify-content:space-between;
}
.o{
  flex-basis: 31%;
  background:#FAEBD7 ;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  color: rgb(14, 14, 209);
 
}
td{
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}*/
p{
  padding: 3px;
color: brown;
background-color:#faebd7 ;

}


























